html, body, p, li, h1, h2, h3, h4, h5, h6 {
  color: white;
  background-color: #2c2f33;
  font-family: "Courier New", monospace;
}

/* Custom Classes */
.button {
  background-color: #7289da;
  font-family: "Courier New", monospace;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
}

.button:hover { transform: scaleX(1.05) scaleY(1.1); }

/* Custom IDs */
#bottombar {
  text-align: center;
}

#catvibe {
  background-color: #23272a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: thick;
  border-color: #23272a;
}

#hits {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -100px; /* Half the height */
   margin-left: -530px; /* Half the width */
}
