body {
  color: #FFFFFF
  background-color: #2C2F33;
  font-family: Arial;
}
h1 {
  color: #FFFFFF;
  background-color: #2C2F33;
  font-family: Arial;
}
p {
  color: #FFFFFF;
  font-family: Arial;
}
li {
  color: #FFFFFF;
  font-family: Arial;
}
