body {
  color: white;
  background-color: #2C2F33;
  font-family: "Courier New";
}
h1 {
  color: white;
  background-color: #2C2F33;
  font-family: "Courier New";
  text-align: center;
}
p {
  color: white;
  background-color: #2C2F33;
  font-family: "Courier New";
}
li {
  color: white;
  background-color: #2C2F33;
  font-family: "Courier New";
}
.catvibe {
  background-color: #23272A;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: thick;
  border-color: #23272A;
}
.button {
  background-color: #7289DA;
  font-family: "Courier New";
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: white;
  padding: 12.5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
