@keyframes bounccx {
    from {
        left: 0;
    }
  
    to {
        left: calc(100% - 315px);
    }
}
@keyframes bounccy {
    from {
        top: 0%;
    }

    to {
        left: calc(100% - 500px);
    }
}
body {
    overflow: hidden;
}

.bouncc {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    animation: bounccx 3.05s linear infinite alternate, bounccy 3.4s linear infinite alternate;
}
  