@keyframes bounccx {
    0% {
        transform: translateX(0%);
      }
    
      100% {
        transform: translateX(calc(100vw - 560px));
    }
}
@keyframes bounccy {
    from {
        top: 0%;
    }

    to {
        top: calc(100% - 315px);
    }
}
body {
    overflow: hidden;
    height: 200%;
    width: 100%;
}

.bouncc {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    animation: bounccx 3.05s linear infinite alternate, bounccy 3.4s linear infinite alternate;
}
  